 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/* Clase para fechas deshabilitadas (ocupadas) */
.disabled-date {
   background-color: #f8d7da !important; /* Rojo suave */
   color: #721c24 !important;
   pointer-events: none !important;
   opacity: 0.6 !important;
 }
 
 /* Clase para fechas parcialmente ocupadas */
 .partially-booked {
   background-color: #fff3cd !important;  /* Amarillo suave */
   color: #856404 !important;
   pointer-events: none !important;
   opacity: 0.8 !important;
 }
 
 /* Clase para fechas seleccionadas, si quieres algo distinto */
 .react-calendar__tile--active {
   background-color: #6f42c1 !important; /* Color personalizado */
   color: white !important;
 }
 