 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/* Calendar styles */
.disabled-date {
   background-color: #f8d7da; /* Rojo suave para fechas pasadas */
   color: #f44336; /* Rojo para texto */
   pointer-events: none; /* Deshabilitar la interactividad */
 }
 
 .fully-booked {
   background-color: #f44336; /* Rojo para fechas completamente ocupadas */
   color: white; /* Blanco para texto */
   pointer-events: none; /* Deshabilitar la interactividad */
 }
 
 .partially-booked {
   background-color: #ffeb3b; /* Amarillo para fechas parcialmente ocupadas */
   color: black; /* Color de texto negro */
   pointer-events: none; /* Deshabilitar la interactividad */
 }
 
