 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .disabled-date {
   background-color: #f0f0f0 !important; /* Color para fechas deshabilitadas (pasadas) */
   pointer-events: none !important; /* Evitar que se seleccionen */
 }
 
 .booked-date {
   background-color: yellow !important; /* Color para fechas reservadas */
   pointer-events: auto !important; /* Asegurarse de que se puedan seleccionar */
 }

 
 
 